<?xml version="1.0"?>
<robot name="room">
  <material name="wall_color">
    <color rgba="0.8 0.8 0.8 1"/>
  </material>
  <material name="ceiling_color">
    <color rgba="1.0 1.0 1.0 1"/>
  </material>
  <material name="floor_color">
    <color rgba="1.0 1.0 1.0 1"/>
  </material>

  <link name="world"/>

  <link name="walls">
    <visual>
      <geometry>
          <box size="10.0 0.1 10.0"/>
      </geometry>
      <origin xyz="0 5.0 5.0"/>
      <material name="wall_color"/>
    </visual>
    <collision>
      <geometry>
          <box size="10.0 0.1 10.0"/>
      </geometry>
      <origin xyz="0 5.0 5.0"/>
    </collision>
    <visual>
      <geometry>
          <box size="10.0 0.1 10.0"/>
      </geometry>
      <origin xyz="0 -5.0 5.0"/>
      <material name="wall_color"/>
    </visual>
    <collision>
      <geometry>
          <box size="10.0 0.1 10.0"/>
      </geometry>
      <origin xyz="0 -5.0 5.0"/>
    </collision>
    <visual>
      <geometry>
          <box size="0.1 10.0 10.0"/>
      </geometry>
      <origin xyz="5.0 0 5.0"/>
      <material name="wall_color"/>
    </visual>
    <collision>
      <geometry>
          <box size="0.1 10.0 10.0"/>
      </geometry>
      <origin xyz="5.0 0 5.0"/>
    </collision>
    <visual>
      <geometry>
          <box size="0.1 10.0 10.0"/>
      </geometry>
      <origin xyz="-5.0 0 5.0"/>
      <material name="wall_color"/>
    </visual>
    <collision>
      <geometry>
          <box size="0.1 10.0 10.0"/>
      </geometry>
      <origin xyz="-5.0 0 5.0"/>
    </collision>
    <visual>
      <geometry>
          <box size="10.0 10.0 0.1"/>
      </geometry>
      <origin xyz="0 0 10.0"/>
      <material name="ceiling_color"/>
    </visual>
    <visual>
      <geometry>
          <box size="10.0 10.0 0.1"/>
      </geometry>
      <origin xyz="0 0 -0.1"/>
      <material name="floor_color"/>
    </visual>
    <collision>
      <geometry>
          <box size="10.0 10.0 0.1"/>
      </geometry>
      <origin xyz="0 0 -0.1"/>
    </collision>
  </link>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="walls"/>
  </joint>
</robot>